/*Local Variables*/
:root {
--central-width : 900px;

}



body {
  background-color: rgb(195, 195, 195);
  margin: 0;
  padding: 0;
}
p {
  font: menu;
  stroke-size: 15px;
}
/*Art Banner*/
.top-banner {
  width: var(--central-width);
  height: 200px;
  margin: auto;
  border: 2px solid black;
  background-color: rgb(242, 242, 242);
}
/*Nav Bar*/
.nav-container {
  width: var(--central-width);
  height: 50px;
  margin: auto;
  margin-top: 10px;
  border: 2px solid black;
  background-color: rgb(242, 242, 242);
}
.nav-container ul li {
  display: inline;
  padding-inline: 10px;
  list-style: none;
}
/*Center Page Container*/
.mid-container {
  width: var(--central-width);
  height: 100vh;
  margin: auto;
  margin-top: 10px;
  border: 2px solid black;
  background-color: rgb(242, 242, 242);
}
.footer {
  width: var(--central-width);
  height: auto;
  margin: auto;
  margin-top: 10px;
  border: 2px solid black;
  background-color: rgb(242, 242, 242);
}
